In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [2]:
df=pd.read_csv('Churn_Modelling.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Preprocess the data
df= df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [4]:
# Encode categorical variables
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])

In [5]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [6]:
# One-hot encode 'Geography'
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(df[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [7]:
# Combine one-hot encoded columns with original data
df = pd.concat([df.drop('Geography', axis=1), geo_encoded_df], axis=1)
df.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [8]:
# Split the data into features and target
X = df.drop('EstimatedSalary', axis=1)
y = df['EstimatedSalary']

In [9]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [10]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [11]:
# Save the encoders and scaler for later use
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)+

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)

SyntaxError: invalid syntax (3827901143.py, line 6)

#### ANN Regression Problem statement

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
# Build the model
model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer for regression
])

## compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

model.summary()

C:\Users\HP\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 64)                  │             832 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 32)                  │           2,080 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 1)                   │              33 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [ ]:
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

# Set up TensorBoard
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [ ]:
# Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [ ]:
# Train the model
history = model.fit(
    X_train, y_train,
    validation_data=(X_test, y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorboard_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 7s 16ms/step - loss: 100373.4141 - mae: 100373.4141 - val_loss: 98502.2656 - val_mae: 98502.2656
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 99586.1016 - mae: 99586.1016 - val_loss: 96928.9062 - val_mae: 96928.9062
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - loss: 96859.7656 - mae: 96859.7656 - val_loss: 92964.2031 - val_mae: 92964.2031
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 91557.7812 - mae: 91557.7812 - val_loss: 86436.0938 - val_mae: 86436.0938
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 8ms/step - loss: 83918.6719 - mae: 83918.6719 - val_loss: 78174.3281 - val_mae: 78174.3281
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 75118.2969 - mae: 75118.2969 - val_loss: 69551.7188 - val_mae: 69551.7188
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 66557.0625 - mae: 66557.0625 - val_loss: 62001.6250 - val_mae: 62001.6250
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 15ms/step - loss: 59666.2383 - mae: 59666.2383 - val_loss: 56473.3711 - val_mae: 56473.3711
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 54965.5312 - mae: 54965.5312 - val_loss: 53164.5117 - val_mae: 53164.5117
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 52312.0586 - mae: 52312.0586 - val_loss: 51675.4961 - val_mae: 51675.4961
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 51069.5039 - mae: 51069.5039 - val_loss: 51093.5273 - val_mae: 51093.5273
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50553.4258 - mae: 50553.4258 - val_loss: 50889.5352 - val_mae: 50889.5352
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 50346.3203 - mae: 50346.3203 - val_loss: 50809.1289 - val_mae: 50809.1289
Epoch 14/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 50245.8477 - mae: 50245.8477 - val_loss: 50764.0195 - val_mae: 50764.0195
Epoch 15/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 50180.4883 - mae: 50180.4883 - val_loss: 50725.8633 - val_mae: 50725.8633
Epoch 16/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 50127.3125 - mae: 50127.3125 - val_loss: 50688.4336 - val_mae: 50688.4336
Epoch 17/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 50080.3242 - mae: 50080.3242 - val_loss: 50664.2695 - val_mae: 50664.2695
Epoch 18/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 11ms/step - loss: 50040.7773 - mae: 50040.7773 - val_loss: 50639.6523 - val_mae: 50639.6523
Epoch 19/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 50004.4336 - mae: 50004.4336 - val_loss: 50617.1992 - val_mae: 50617.1992
Epoch 20/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 10ms/step - loss: 49973.9570 - mae: 49973.9570 - val_loss: 50594.7344 - val_mae: 50594.7344
Epoch 21/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 12ms/step - loss: 49938.8789 - mae: 49938.8789 - val_loss: 50572.7188 - val_mae: 50572.7188
Epoch 22/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - loss: 49911.5000 - mae: 49911.5000 - val_loss: 50552.8008 - val_mae: 50552.8008
Epoch 23/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49888.6875 - mae: 49888.6875 - val_loss: 50537.1992 - val_mae: 50537.1992
Epoch 24/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49863.5039 - mae: 49863.5039 - val_loss: 50522.4922 - val_mae: 50522.4922
Epoch 25/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49839.2891 - mae: 49839.2891 - val_loss: 50512.5742 - val_mae: 50512.5742
Epoch 26/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49816.3164 - mae: 49816.3164 - val_loss: 50493.6992 - val_mae: 50493.6992
Epoch 27/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49795.3281 - mae: 49795.3281 - val_loss: 50483.2031 - val_mae: 50483.2031
Epoch 28/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - loss: 49777.4688 - mae: 49777.4688 - val_loss: 50470.7578 - val_mae: 50470.7578
Epoch 29/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 49760.5742 - mae: 49760.5742 - val_loss: 50459.4141 - val_mae: 50459.4141
Epoch 30/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - loss: 49746.3398 - mae: 49746.3398 - val_loss: 50457.8906 - val_mae: 50457.8906
Epoch 31/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49727.9688 - mae: 49727.9688 - val_loss: 50439.0898 - val_mae: 50439.0898
Epoch 32/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49711.7422 - mae: 49711.7422 - val_loss: 50439.3281 - val_mae: 50439.3281
Epoch 33/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49697.9531 - mae: 49697.9531 - val_loss: 50432.5898 - val_mae: 50432.5898
Epoch 34/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49681.9453 - mae: 49681.9453 - val_loss: 50427.8750 - val_mae: 50427.8750
Epoch 35/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49672.3359 - mae: 49672.3359 - val_loss: 50421.1328 - val_mae: 50421.1328
Epoch 36/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49658.2188 - mae: 49658.2188 - val_loss: 50411.5273 - val_mae: 50411.5273
Epoch 37/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 49649.0039 - mae: 49649.0039 - val_loss: 50404.4141 - val_mae: 50404.4141
Epoch 38/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 49634.3633 - mae: 49634.3633 - val_loss: 50410.9883 - val_mae: 50410.9883
Epoch 39/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49625.1602 - mae: 49625.1602 - val_loss: 50393.0156 - val_mae: 50393.0156
Epoch 40/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49614.7461 - mae: 49614.7461 - val_loss: 50395.2031 - val_mae: 50395.2031
Epoch 41/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49604.5547 - mae: 49604.5547 - val_loss: 50393.4727 - val_mae: 50393.4727
Epoch 42/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49592.5703 - mae: 49592.5703 - val_loss: 50394.6211 - val_mae: 50394.6211
Epoch 43/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49587.3672 - mae: 49587.3672 - val_loss: 50390.6133 - val_mae: 50390.6133
Epoch 44/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49574.0977 - mae: 49574.0977 - val_loss: 50385.0586 - val_mae: 50385.0586
Epoch 45/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49562.7852 - mae: 49562.7852 - val_loss: 50377.7969 - val_mae: 50377.7969
Epoch 46/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49557.8477 - mae: 49557.8477 - val_loss: 50374.5156 - val_mae: 50374.5156
Epoch 47/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49548.4141 - mae: 49548.4141 - val_loss: 50374.0039 - val_mae: 50374.0039
Epoch 48/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - loss: 49543.6523 - mae: 49543.6523 - val_loss: 50373.9727 - val_mae: 50373.9727
Epoch 49/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 6ms/step - loss: 49532.2461 - mae: 49532.2461 - val_loss: 50379.6445 - val_mae: 50379.6445
Epoch 50/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49525.3125 - mae: 49525.3125 - val_loss: 50377.2266 - val_mae: 50377.2266
Epoch 51/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - loss: 49516.8203 - mae: 49516.8203 - val_loss: 50372.2891 - val_mae: 50372.2891
Epoch 52/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49510.5469 - mae: 49510.5469 - val_loss: 50374.6797 - val_mae: 50374.6797
Epoch 53/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49502.4219 - mae: 49502.4219 - val_loss: 50372.8047 - val_mae: 50372.8047
Epoch 54/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49493.5742 - mae: 49493.5742 - val_loss: 50367.4453 - val_mae: 50367.4453
Epoch 55/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49489.9727 - mae: 49489.9727 - val_loss: 50378.4805 - val_mae: 50378.4805
Epoch 56/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 9ms/step - loss: 49482.7031 - mae: 49482.7031 - val_loss: 50379.6680 - val_mae: 50379.6680
Epoch 57/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 49477.1719 - mae: 49477.1719 - val_loss: 50382.3945 - val_mae: 50382.3945
Epoch 58/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 20ms/step - loss: 49470.0234 - mae: 49470.0234 - val_loss: 50372.2148 - val_mae: 50372.2148
Epoch 59/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 16ms/step - loss: 49461.9062 - mae: 49461.9062 - val_loss: 50382.1484 - val_mae: 50382.1484
Epoch 60/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 6s 17ms/step - loss: 49456.3711 - mae: 49456.3711 - val_loss: 50381.2227 - val_mae: 50381.2227
Epoch 61/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 5s 16ms/step - loss: 49454.1211 - mae: 49454.1211 - val_loss: 50379.9805 - val_mae: 50379.9805
Epoch 62/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - loss: 49446.2031 - mae: 49446.2031 - val_loss: 50382.9258 - val_mae: 50382.9258
Epoch 63/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - loss: 49441.9531 - mae: 49441.9531 - val_loss: 50380.5781 - val_mae: 50380.5781
Epoch 64/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 3s 11ms/step - loss: 49434.1641 - mae: 49434.1641 - val_loss: 50383.0352 - val_mae: 50383.0352

In [ ]:
%load_ext tensorboard

In [ ]:
%tensorboard --logdir regressionlogs/fit

In [ ]:
## Evaluate model on the test data
test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE : {test_mae}')

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - loss: 50367.4453 - mae: 50367.4453
Test MAE : 50367.4453125

In [ ]:
model.save('regression_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.